@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забравена парола";
}

<div class="d-flex flex-column align-items-center">
    <h2>@ViewData["Title"]</h2>
    <h4 class="mt-3 mb-1">Имейл адрес, с който сте регистрирани</h4>
</div>
<div class="col-md-4 offset-md-4 mt-5">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 mt-3 btn btn-lg btn-primary">Смени парола</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
