@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Успешно изпращане на заявка";
}

<div class="d-flex flex-column align-content-center text-center">
    <h1>@ViewData["Title"]</h1>
    <p class="mt-4 fs-3">
        На електронната Ви поща беше изпратено съобщение за смяна на паролата.
    </p>
</div>
