@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Успешно сменена парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Вашата парола беше сменена. Моля, <a asp-page="./Login">влезте</a> в сайта с новата си парола.
</p>
