@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Wix Madefor Display', sans-serif;
    background-color: rgb(240, 255, 245);
}

.main-header {
    font-size: 45px;
}

.main-info-text {
    font-size: 18px;
}

.custom-toast-top-left {
    top: 7vh !important;
    left: 2vh !important;
}
