@model RegisterConfirmationViewModel
@{
    ViewData["Title"] = "Потвърждаване на имейл";
}

<div class="text-center d-flex flex-column align-items-center">
    <h2>@ViewData["Title"]</h2>
    <p class="fs-5 mt-4">Добре дошли в RadCars, @Model.FullName! Моля, влезте в електронна си поща - @Model.Email и потвърдете регистрацията.</p>
</div>