@{
    ViewData["Title"] = "404 Not Found";
}

<div class="container text-center mt-5">
    <h1 class="display-1">404</h1>
    <p class="display-4">Страницата не е намерена.</p>
    <p class="lead">За съжаление страницата, която търсите не същестува.</p>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Обратно към начална страница</a>
</div>