@{
    ViewData["Title"] = "Unauthorized";
}

<div class="container text-center mt-5">
    <h1 class="display-1">401</h1>
    <p class="display-4">Достъпът не е разрешен</p>
    <p class="lead">За съжаление нямате правомощията да достъпите следния ресурс.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Обратно към начална страница</a>
</div>