@{
    ViewData["Title"] = "Начало";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Добре дошли в RadCars!</h1>
        <p>Добрият сайт за продажба на автомобили. Тук ще намерите сделката, за която винаги сте мечтали!</p>
    </div>

    <div>
        <p>Най-пресните обяви:</p>

    </div>
</div>
