@{
    ViewData["Title"] = "Политика за поверителност";
}

<div class="container mt-3">
    <h1 class="text-center mb-5">Политика за поверителност на RadCars</h1>

    <section class="mt-3 mb-5">
        <h2>Въведение</h2>
        <p>
            Благодарим ви, че избрахте <strong>RadCars</strong>! Ние ценим вашата поверителност и се стремим да я защитаваме. Тази Политика за поверителност обяснява как обработваме вашите лични данни, когато използвате нашата платформа.
        </p>
    </section>

    <section class="mb-5">
        <h2>Събиране на информация</h2>
        <h4>Лични данни</h4>
        <p>
            При регистрация или вход в нашия сайт може да ви бъде поискано да предоставите определена лична информация, като име, имейл адрес и телефонен номер.
        </p>
        <h4>Нелични данни</h4>
        <p>
            Можем да събираме нелични данни за вашия браузър, IP адрес, операционна система и други подобни информации.
        </p>
    </section>

    <section class="mb-5">
        <h2>Използване на информацията</h2>
        <p>
            Вашите данни се използват за:
            <ul>
                <li>Подобряване на потребителското изживяване.</li>
                <li>Обработка на сделки или заявки.</li>
                <li>Изпращане на информационни и актуализационни имейли.</li>
            </ul>
        </p>
    </section>

    <section class="mb-5">
        <h2>Защита на вашата информация</h2>
        <p>
            Прилагаме различни мерки за сигурност, за да защитим вашата лична информация.
        </p>
    </section>

    <section class="mb-5">
        <h2>Достъп до информацията</h2>
        <p>
            Не продаваме, търгуваме или предоставяме на трети страни вашата лична информация без вашето изрично съгласие.
        </p>
    </section>

    <section class="mb-5">
        <h2>Промени в нашата Политика за поверителност</h2>
        <p>
            При промени по нашата Политика за поверителност, ние поемаме отговорността да Ви уведомим преди новостите да влязат в сила.
        </p>
    </section>

    <section class="mb-5">
        <h2>Връзка с нас</h2>
        <p>
            Ако имате въпроси относно тази Политика за поверителност, можете да се свържете с нас на email: radcars.bg@gmail.com
        </p>
    </section>
</div>
