@model CreateListingFormModel

<form asp-controller="Listing" asp-action="Create" enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="@Model.Pictures"></label>
        </dt>
        <dd>
            <input asp-for="@Model.Pictures" type="file" multiple="">
            <span asp-validation-for="@Model.Pictures"></span>
        </dd>
    </dl>
    <input class="btn" type="submit" value="Upload" />
</form>