@model ListingFormModel

@{
    ViewData["Title"] = "Създаване на обява";
}

<h2 class="text-center mb-5">@ViewData["Title"]</h2>

<div class="d-flex flex-column text-center justify-content-center align-items-center">
    <div id="carouselExampleControls" class="carousel slide w-50 visually-hidden" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!--Images are loaded dynamically with JS-->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <button type="button" id="clearImages" class="btn btn-danger mt-3 visually-hidden">Изтрий снимките</button>
</div>

<partial name="_ListingFormPartial" model="@Model" />

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />

    <script type="module" src="~/js/loadCarModels.js"></script>
    <script type="text/javascript" src="~/js/previewUploadedImages.js"></script>
}