@model ListingFormModel

@{
    ViewData["Title"] = "Създаване на обява";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<partial name="_ListingFormPartial" model="@Model"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>

    <script type="module" src="/js/loadCarModels.js"></script>
}